
/*Обнуление боди и font-size по умолчанию 15px*/
* {
  margin: 0;
  padding: 0;
}
.body {
  font-size: 0.9375rem;
}


/*Подключение шрифтов*/
@font-face {
  font-family: OpenSans-Bold;
  font-style: normal;
  src: url(../fonts/OpenSans-Bold.woff)
}
@font-face {
  font-family: OpenSans-Regular;
  font-style: normal;
  src: url(../fonts/OpenSans-Regular.woff)
}


/*Медиа запросы для декстопной версии сайта*/
@media (min-width: 1200px) {
  
  /*Размеры фото banner под декстоп*/
  .banner {
    background-image: url(../images/banner-bg.jpg);
    background-position: center top;
    width: 100%;
    height: 27vw;
  }

  /*Размеры заголовка banner под декстоп*/
  .banner__title {
    font-size: 2.69vw;
    line-height: 4.5180vw;
    margin: 6.6vw 0 0 28.2vw;
    width: 42.5vw;
  }

  /*Размеры логотипа banner под декстоп*/
  .banner__logo {
    width: 11.8vw;
    height: 2.45vw;
    top: 1.75vw;
    left: 14.2vw; 
  } 

  /*Скрытие burger-menu*/
  .burger-menu {
    visibility: hidden;
  }

  /*Размеры trand_line под декстоп*/
  .trands-line__header {
    font-size: 1.2048vw;
    line-height: 1.75vw;
    font-weight: 700;
    margin: 3.28vw 2.7vw 1.72vw 2.7vw;
  }
  .trands-line__header:after {
    width: 4vw;
    height: 0.2vw;
    opacity: 0.400;
    margin-top: 0.5vw;
  }
  .trand {
    width: 24.8%;
    height: 19vw;
  }
  .trand__description {
    z-index: 3;
    border: 3px solid #b59f5b;
    width: 22vw;
    padding: 1.4vw 1.9vw 2.15vw 1.9vw;
    margin: 0 0 1vw 1.28vw;
  }
  .trand__category {
    font-weight: 700;
    line-height: 2.4096vw;
    font-size: 0.8433vw;
    margin: 0 1.35vw -0.3vw 0;
  }
  .trand__title {
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 1.45vw;
  }

  /*Размеры для полосы новостей main под декстоп*/
  .main-box {
    float: left;
    margin: 3.7vw 0 0 14.75vw;
    position: relative;
  }
  .main-post {
    margin-bottom: 3.6vw;
  }
  .main-news__picture {
    width: 22.7vw;
    height: 17.5vw;
  }
  .main-post-frame {
    margin-top: -0.15vw;
    margin-left: 1.7vw;
  }
  .main-post-frame__categories {
    width: 20vw;
    margin-bottom: 0.4vw;
  }
  .main-post-frame__category {
    margin-right: 1.25vw;
    font-size: 0.84vw;
    font-weight: 700;
  }
  .main-post-frame__title {
    width: 20vw;
    font-size: 1.2vw;
    line-height: 1.4vw;
    margin-bottom: 1.1vw;
    font-weight: 700;
  }
  .main-post__pubdate {
    font-size: 0.72vw;
    line-height: 2.4vw;
    font-weight: 400;
  }
  .main-post__author {
    font-size: 0.75vw;
    line-height: 2.4vw;
    font-weight: 700;
  }
  .main-post__text {
    width: 22vw;
    line-height: 1.32vw;
    font-size: 0.9vw;
    margin-top: 2vw;
  }
  .main-post_paragraph {
    margin-bottom: 0.6vw;
  }

  /*Размеры для боковой полосы sidebar под декстоп*/
  .side-bar {
    position: absolute;
    left: 68.3vw;
    margin-top: 3.2vw;
  }

  .latest-posts__header {
    width: 16.3vw;
    margin-bottom: 1.8vw;
    font-size: 0.85vw;
    line-height: 1.75vw;
    font-weight: 700;
  }
  .latest-posts__header:after {
    opacity: 0.4;
    width: 4vw;
    height: 0.18vw;
    margin-top: 0.2vw;
  }
  .latest-post {
    width: 16.2vw;
    margin-bottom: 1.25vw;
  }
  .latest-post__picture {
    width: 4.2vw;
    height: 4.2vw;
    margin-right: 1.04vw;
  }
  .latest-post__text-box {
    height: 4.2vw;
    margin-top: -0.3vw;
  }
  .latest-post__pubdate {
    opacity: 0.541;
    font-size: 0.7vw;
    font-weight: 400;
    margin-bottom: 0.15vw;
  }
  .latest-post__link {
    font-size: 0.84vw;
    line-height: 1.08vw;
  }
  .latest-post__link:hover {
    font-size: 0.84vw;
    line-height: 1.08vw; 
  }

  .page-search {
    width: 16vw;
  }
  .page-search__row {
    margin-top: 2.3vw;
    width: 16vw;
    height: 2.9vw;
    padding-left: 1vw;
  }
  .page-search__row::placeholder {
    opacity: 0.541;
    font-size: 0.84vw;
    line-height: 1vw;
    font-weight: 400;
  }
  .page-search__row:focus {
    width: 16vw;
    height: 2.9vw;
  }
  .page-search__submit {
    margin-top: 2.3vw;
    width: 2.9vw;
    height: 2.9vw;
    right: 0;
    background-size: auto 37.5%;
  }
  .page-search__submit:hover {
    width: 2.9vw;
    height: 2.9vw;
  }

  .email__row {
    width: 16vw;
    height: 2.9vw;
    margin-top: 1.2vw;
    padding-left: 1vw;
  }
  .email__row::placeholder {
    opacity: 0.541;
    font-size: 0.78vw;
    line-height: 5.20vw;
    font-weight: 400;
  }
  .email__row:focus {
    width: 16vw;
    height: 2.9vw;
  }

  .subscribe-box {
    width: 16vw;
    margin-top: 2vw;
  }
  .subscribe__title {
    font-size: 0.84vw;
    line-height: 1.74px;
    font-weight: 700;
    margin: 3.8vw 0 0.25vw 0;
  }
  .subscribe__title:after {
    opacity: 0.4;
    margin-top: 1.1vw;
    width: 4vw;
    height: 0.2vw;
  }
  .subscribe__text__button {
    font-size: 0.84vw;
    line-height: 2.4vw;
    font-weight: 700;
  }
  .subscribe__submit {
    margin-top: 1vw;
    width: 16vw;
    height: 2.9vw;
  }
  .subscribe__submit:hover {
    width: 16vw;
    height: 2.9vw;
  }

  .tags__title {
    margin: 2.89vw 0.5vw 0 0; 
    font-size: 0.84vw;
    line-height: 1.74vw;
    font-weight: 700;
  }
  .tags__title:after {
    opacity: 0.4;
    width: 4vw;
    height: 0.2vw;
    margin-top: 0.5vw
  }
  .tags {
    width: 16.5vw;
  }
  .tags__list {
    margin-top: 1.2vw;
  }
  .tag {
    font-size: 0.72vw;
    font-weight: 700;
  }
  .border {
    display: block;
    margin-right: 0.35vw;
    margin-bottom: 0.35vw;
    padding: 0.19vw 0.8vw;
    text-align: center;
    background-color: rgba(244,243,241,0);
    border: 0.18vw solid #eeeeee;
  }
  .border:hover {
    background-color: rgba(244,243,241,0);
    border: 0.18vw solid #b59f5b;
    cursor: pointer;
  }

  .themes__title {
    margin: 2.8vw 0 0 0;
    font-size: 0.84vw;
    line-height: 1.74vw;
    font-weight: 700;
  }
  .themes__title:after {
    margin-top: 0.4vw;
    opacity: 0.4;
    width: 4vw;
    height: 0.2vw;
  }
  .themes__list {
    width: 16vw;
    margin-top: 0.42vw;
  }
  .theme {
    font-size: 0.84vw;
    line-height: 2.83vw;
    font-weight: 700;
  }
  .theme:hover {
    font-size: 0.84vw;
    line-height: 2.83vw;
    font-weight: 700;
  }
  .themes__indent {
    margin-bottom: -0.05vw;
  }
  .themes__index {
    font-size: 0.72vw;
    line-height: 2.16vw;
    font-weight: 700;
  }
  .indextheme__hr {
    width: 16vw;
    height: 0.06vw;
  }

  /*Размеры для полосы product под декстоп*/
  .products-line {
    width: 67vw;
    margin: -0.41vw 0 0 15.8vw;
  }
  .products-line__header {
    margin: -0.17vw auto 0 auto;
    width: 12vw;
    line-height: 1.74vw;
    font-weight: 700;
    font-size: 1.2vw;
  }
  .products-line__header:after {
    opacity: 0.4;
    margin: 0.5vw auto;
    width: 66px;
    height: 3px;
  }
  .products-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product  {
    margin-top: 1.1vw; 
    width: 17.8vw;
  }
  .product-image {
    width: 100%;
    height: 100%;
  }
  .product-description__title {
    font-size: 1.2vw;
    line-height: 1.44vw;
    font-weight: 700;
    margin-top: 0.4vw;
  }
  .product-description {
    border: 3px solid #b59f5b;
    height: 10.15vw;
    padding: 15% 4.8%;
    margin-top: -12%;
    margin-right: calc(-8vw + 36.5%);
    width: 18.4vw;
  }
  .product-description--modify {
    border: 3px solid #b59f5b;
    height: 10.15vw;
    padding: 15% 4.8%;
    margin-top: -12%;
    margin-right: calc(-8vw + 36.5%);
    width: 18.4vw;
  }
  .product-description__paragraph {
    font-size: 0.9vw; 
    line-height: 1.3vw;
    font-weight: 400;
    margin-top: 0.3vw;
  }
  .product-description__paragraph:hover {
    opacity: 0.8;
  }
  .product-description__link:hover {
    opacity: 0.9;
  }
  
  .price-and-magazine__box {
    margin-top: 1.15vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .price__box {
    margin: 0.3vw 0 0 0.15vw;
    padding-bottom: 1%;
    width: 45%;
  }
  .price__title__small {
    font-size: 0.84vw;
    line-height: 1.44vw;
    font-weight: 700;
    display: block;
    margin-bottom: -0.4vw;
  }
  .price__title__big {
    font-size: 1.2vw;
    line-height: 1.44vw;
    font-weight: 700;
  }
  .magazine-submit {
    width: 45.5%;
    height: 3vw;
    margin: 0 0.4vw 0 0;
  }
  .magazine-submit:hover {
    width: 45.5%;
    height: 3vw;
    margin: 0 0.4vw 0 0;
  }
  .magazine-submit__title {
    font-size: 0.84vw;
    line-height: 2.4vw;
    font-weight: 700;
  }

  /*Размеры для баннера и копирайта в footer под декстоп*/
  .footer-banner {
    width: 69.7vw;
    height: 5.1vw;
    margin-top: 4vw;
    margin-left: 14.75vw;
  }
  .socials {
    width: 6.75vw;
  }
  .icon {
    width: 1.2vw;
    height: 1.2vw;
  }
  .copyright {
    width: 70.5vw;
    margin-top: 3.4vw;
    margin-bottom: 1.5vw;
    font-size: 0.72vw;
    line-height: 2.4vw;
    margin-left: 14.65vw;
    font-weight: 700;
  }

  /*Размеры Popup для декстопа*/
  .back::before {
    z-index: 4;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  .popup-body {
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
  }
  .popup-content {
    margin: 14.5vw auto;
    width: 390px;
 }
  .popup__close__btn__hidden::after {
    right: 0;
    top: 0;
    margin-top: -30px;
    width: 18px;
    height: 18px;
  }
  .popup-header {
    margin-bottom: 13px;
    margin-top: 39px;
  }
  .popup-title {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
  }
  .popup-title:after {
    opacity: 0.4;
    margin-top: 8px;
    width: 66px;
    height: 3px;
  }
  .popup-select {
    margin-bottom: 20px;
  }
  .popup-select__row::after {
    right: 5px;
    top: 15px;
    width: 15px;
    height: 15px;
  }
  select {
    padding-right: 25px;
  }
  .popup-select__header {
    font-size: 13px;
    line-height: 40px;
  }
  .popup-select__options {
    padding-left: 20px;
    width: 330px;
    height: 45px;
    font-size: 13px;
  }
  .popup-select__option {
    font-size: 13px;
    opacity: 0.541;
  }
  .popup-radio__box {
    margin-left: -110px;
    margin-bottom: 20px;
  }
  .popup-radio__header {
    font-size: 13px;
  }
  .radio-button__text {
    font-size: 13px   
  }
  .radio-button  {
    height: 22px;
    width: 22px;
  }
  .radio-button::before {
    top: 5px;
    left: 5px; 
    width: 18px;
    height: 18px; 
  }
  .radio-button:checked::after {
    top: 5px;
    left: 5px; 
    width: 18px;
    height: 18px; 
  }
  .popup-textarea {
    margin-bottom: 20px;
  }
  .popup-textarea__header {
    width: 330px;
    font-size: 13px;
    line-height: 22px;
  }
  textarea::placeholder {
    font-size: 13px;
    line-height: 22px;
  }
  .popup-textarea__window {
    width: 330px;
    height: 98px;
    font-size: 13px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .popup-text__btn {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
  }
  .popup-submit__btn {
    margin-bottom: 55px;
    width: 330px;
    height: 45px;
  }
  .popup-submit__btn:hover {
    width: 330px;
    height: 45px;
  }
}

/*Медиа запрос под таблет версию*/
@media (min-width: 641px) and (max-width: 1199px) {
  
  /*Размеры фото banner под таблет*/
  .banner {
    background-image: url(../images/banner-bg-tablet.jpg);  
    background-position: center bottom;
    height: 51vw;
  }

  /*Стили и размеры для бургер меню*/
  .burger-menu__button {
    position: fixed;
    top: 2.9rem;
    right: 1.9rem;
    z-index: 30;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.8);
  }
  .burger-menu__lines::before,
  .burger-menu__lines::after,
  .burger-menu__lines {
    position: absolute;
    width: 1.35rem;
    height: 0.1rem;
    background-color: ghostwhite;
    border: 0.2px solid #b59f5b; 
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu__lines::before {
    content: '';
    top: -0.55rem;
    right: -1px;
  }
  .burger-menu__lines::after {
    content: '';
    top: 0.45rem;
    left: -1px;
  }

  /*Размеры заголовка banner под таблет*/
  .banner__title {
    width: 80vw;
    margin: 14.6vw 0 0 10vw;
    font-size: 5.2083vw;
    line-height: 7.1614vw;
  }

  /*Размеры логотипа banner под таблет*/
  .banner__logo {
    width: 20.9vw;
    height: 4.7vw;
    top: 5.6vw;
    left: 4.42vw; 
  } 

  /*Скрытие menu*/
  .banner__menu {
    visibility: hidden;
  }

  /*Размеры trand_line под таблет*/
  .trands-line__header {
    font-size: 2.34vw;
    line-height: 3.77vw;
    font-weight: 700;
    margin: 5.4vw auto 3vw;
  }
  .trands-line__header:after {
    width: 8.6vw;
    height: 0.2vw;
    opacity: 0.400;
    margin-top: 0.65vw;
  }
  .trand {
    width: 49.8%;
    height: 32vw;
    margin-bottom: 0.3vw;
  }
  .trand__description {
    z-index: 3;
    border: 3px solid #b59f5b;
    width: 44.92vw;
    padding: 4.1vw 4.03vw 4.2vw 4.03vw;
    margin: 0 0 1.7vw 2.6vw;
  }
  .trand__category {
    font-size: 1.82vw;
    line-height: 3vw;
    font-weight: 700;
    margin-right: 3vw;
  }
  .trand__title {
    font-weight: 700;
    font-size: 2.21vw;
    line-height: 2.86vw;
  }
  .trand__image {
    object-fit: cover;
    object-position: center bottom;
  }

  /*Размеры для новостей main под таблет*/
  .main-box {
    float: left;
    margin: 1.18vw 0 4.8vw 4.55vw;
    position: relative;
  }
  .main-post {
    flex-direction: column;
    margin-top: 5.33vw;
  }
  .main-post:nth-of-type(n+1):nth-of-type(-n+4) {
    border-bottom: 3px solid #cdcdcd;
  }
  .main-news__picture {
    width: 51.04vw;
    height: 39.45vw;
    margin-bottom: 1.95vw;
  }
  .main-post-frame {
    margin-top: -2.35vw;
  }
  .main-post-frame__title {
    width: 51.3vw;
    font-size: 2.21vw;
    line-height: 2.86vw;
    margin-bottom: 2.8vw;
    font-weight: 700;
  }
  .main-post-frame__category {
    margin-right: 2.6vw;
    font-size: 1.82vw;
    line-height: 5.20vw;
    font-weight: 700;
  }
  .main-post__pubdate {
    font-size: 1.56vw;
    line-height: 5.20vw;
    font-weight: 400;
  }
  .main-post__author {
    font-size: 1.56vw;
    line-height: 5.20vw;
    font-weight: 700;
  }
  .main-post__text {
    width: 50.75vw;
    font-size: 1.95vw;
    line-height: 2.86vw;
    margin-top: 1.8vw;
    margin-bottom: 2.99vw;
  }
  .main-post_paragraph {
    margin-bottom: 0.6vw;
  }

  /*Размеры для боковой полосы sidebar под таблет*/
  .side-bar {
    position: absolute;
    left: 60.15vw;
    margin-top: 5.45vw;
  }

  .latest-posts__header {
    width: 35.15vw;
    margin: 0 0 3.5vw 0.6vw;
    font-size: 1.82vw;
    line-height: 3.77vw;
    font-weight: 700;
  }
  .latest-posts__header:after {
    opacity: 0.4;
    width: 8.6vw;
    height: 0.18vw;
    margin-top: 1vw;
  }
  .latest-post {
    width: 35.2vw;
    margin-bottom: 2.85vw;
  }
  .latest-post__picture {
    width: 9.11vw;
    height: 9.11vw;
    margin-right: 2.5vw;
  }
  .latest-post__pubdate {
    opacity: 0.541;
    font-size: 1.56vw;
    font-weight: 400;
  }
  .latest-post__link {
    font-size: 1.82vw;
    line-height: 2.34vw;
    font-weight: 700;
  }
  .latest-post__link:hover {
    font-size: 1.82vw;
    line-height: 2.34vw;
    font-weight: 700;
  }

  .page-search {
    width: 35.15vw;
  }
  .page-search__row {
    margin-top: 5vw;
    width: 35vw;
    height: 6.25vw;
    padding-left: 2.34vw;
  }
  .page-search__row::placeholder {
    opacity: 0.541;
    font-size: 1.69vw;
    line-height: 5.20vw;
    font-weight: 400;
  }
  .page-search__row:focus {
    width: 35vw;
    height: 6.25vw;
  }
  .page-search__submit {
    margin-top: 5vw;
    width: 6.25vw;
    height: 6.25vw;
    right: 0;
    background-size: auto 40%;
  }
  .page-search__submit:hover {
    width: 6.25vw;
    height: 6.25vw;
  }

  .email__row {
    width: 35vw;
    height: 6.25vw;
    margin-top: 2.15vw;
    padding-left: 2.34vw;
  }
  .email__row::placeholder {
    opacity: 0.541;
    font-size: 1.69vw;
    line-height: 5.20vw;
    font-weight: 400;
  }
  .email__row:focus {
    width: 35vw;
    height: 6.25vw;
  }

  .subscribe-box {
    width: 34.15vw;
    margin-top: 7vw;
  }
  .subscribe__title {
    font-size: 1.82vw;
    line-height: 3.77vw;
    font-weight: 700;
    margin: 0 0 0.9vw 0.3vw;
  }
  .subscribe__title:after {
    opacity: 0.4;
    margin-top: 0.85vw;
    width: 8.59vw;
    height: 0.39vw;
  }
  .subscribe__text__button {
    font-size: 1.8229vw;
    line-height: 5.20vw;
    font-weight: 700;
  }
  .subscribe__submit {
    margin-top: 2.2vw;
    width: 35vw;
    height: 6.25vw;
  }
  .subscribe__submit:hover {
    width: 35vw;
    height: 6.25vw;
  }

  .tags__title { 
    margin: 6.5vw 0.35vw 0 0;
    font-size: 1.82vw;
    line-height: 3.77vw;
    font-weight: 700;
  }
  .tags__title:after {
    opacity: 0.4;
    margin-top: 0.85vw;
    width: 8.59vw;
    height: 0.39vw;
  }
  .tags {
    width: 36vw;
  }
  .tags__list {
    margin-top: 2.45vw;
  }
  .tag {
    font-size: 1.56vw;
    font-weight: 700;
    margin-right: 0.5vw;
  }
  .border {
    display: block;
    margin-right: 0.65vw;
    margin-bottom: 0.78vw;
    padding: 0.71vw 1.75vw;
    text-align: center;
    background-color: rgba(244,243,241,0);
    border: 0.18vw solid #eeeeee;
  }
  .border:hover {
    background-color: rgba(244,243,241,0);
    border: 0.18vw solid #b59f5b;
    cursor: pointer;
  }

  .themes__title {
    margin-top: 5.81vw;
    font-size: 1.82vw;
    line-height: 3.77vw;
    font-weight: 700;
  }
  .themes__title:after {
    opacity: 0.4;
    margin-top: 0.85vw;
    width: 8.59vw;
    height: 0.39vw;
  }
  .themes__list {
    width: 35.2vw;
    margin-top: 1vw;
  }
  .themes__indent {
    margin-bottom: 0.3vw;
  }
  .theme {
    font-size: 1.82vw;
    line-height: 6.11vw;
    font-weight: 700;
  }
  .theme:hover {
    font-size: 1.82vw;
    line-height: 6.11vw;
    font-weight: 700;
  }
  .themes__index {
    font-size: 1.82vw;
    line-height: 4.68vw;
    font-weight: 700;
  }
  .indextheme__hr {
    width: 35.15vw;
    height: 0.13vw;
    margin-top: -0.4vw;
  }

  /*Размеры для полосы product под таблет*/
  .products-line {
    width: 86vw;
    margin-left: auto;
    margin-right: auto;
  }
  .products-line__header {
    margin:0 auto 2vw auto;
    width: 21vw;
    font-size: 2.34vw;
    line-height: 3.77vw;
  }
  .products-line__header:after {
    display: block;
    margin: 0.82vw auto 0 auto;
    width: 8.6vw;
    height: 0.2vw;
    opacity: 0.400;
  }
  .products-box {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .product  {
    margin: 1.65vw 0 2vw 0;
    width: 39vw;
  }
  .product-image__box {
    width: 38vw;
    height: 29.5vw;
  }
  .product-image {
    width: 100%;
    height: 100%;
  }
  .product-description {
    border: 3px solid #b59f5b;
    width: 100%;
    height: 20vw;
    padding: 18% 7% 19%;
    margin-top: -12.5%;
    margin-right: calc(-8vw + 14.5%);
    width: 37.7vw;
  }
  .product-description--modify {
    border: 3px solid #b59f5b;
    width: 100%;
    height: 20vw;
    padding: 18% 7% 10%;
    margin-top: -12.5%;
    margin-right: calc(-8vw + 14.5%);
    width: 37.7vw;
  }
  .product-description__title {
    font-size: 2.21vw;
    line-height: 2.86vw;
    margin: 0 0 0.65vw 0;
  }
  .product-description__paragraph {
    font-size: 1.9531vw; 
    font-weight: 400;
  }
  .product-description__paragraph:hover {
    opacity: 0.8;
  }
  .product-description__link:hover {
    opacity: 0.9;
  }

  .price-and-magazine__box {
    margin-top: 3.2vw;
  }
  .price__box {
    padding-bottom: 1%;
    width: 45%;
  }
  .price__title__small {
    font-size: 1.82vw;
    line-height: 3.125vw;
    font-weight: 700;
  }
  .price__title__big {
    font-size: 2.6vw;
    line-height: 3.125vw;
    font-weight: 700;
    margin-top: -1vw;
  }
  
  .magazine-submit {
    width: 49%;
    height: 6.11vw;
  }
  .magazine-submit:hover {
    width: 49%;
    height: 6.11vw;
  }
  .magazine-submit__title {
    font-size: 1.82vw;
    line-height: 5.20vw;
    font-weight: 700;
  }

  /*Размеры баннера в футере для таблета*/
  .footer-banner {
    width: 90.75vw;
    height: 10.5vw;
    background-color: #f4f7f6;
    margin: 5vw auto 0 auto;
  }
  .socials {
    width: 14.8vw;
  }
  .icon {
    width: 2.6vw;
    height: 2.6vw;
  }
  .copyright {
    width: 90.75vw;
    margin: 4.5vw auto 4.8vw auto;
    font-size: 1.56vw;
    line-height: 5.2vw;
    font-weight: 700;
  }

  /*Размеры Popup для таблета*/
  .back::before {
    z-index: 4;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  .popup-body {
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
  }
  .popup-content {
    margin: 30vw auto;
    width: 390px;
 }
  .popup__close__btn__hidden::after {
    right: 0;
    top: 0;
    margin-top: -30px;
    width: 18px;
    height: 18px;
  }
  .popup-header {
    margin-bottom: 13px;
    margin-top: 39px;
  }
  .popup-title {
    font-size: 20px;
    line-height: 29px;
    font-weight: 700;
  }
  .popup-title:after {
    opacity: 0.4;
    margin-top: 8px;
    width: 66px;
    height: 3px;
  }
  .popup-select {
    margin-bottom: 20px;
  }
  .popup-select__row::after {
    right: 5px;
    top: 15px;
    width: 15px;
    height: 15px;
  }
  select {
    padding-right: 25px;
  }
  .popup-select__header {
    font-size: 13px;
    line-height: 40px;
  }
  .popup-select__options {
    padding-left: 20px;
    width: 330px;
    height: 45px;
    font-size: 13px;
  }
  .popup-select__option {
    font-size: 13px;
    opacity: 0.541;
  }
  .popup-radio__box {
    margin-left: -110px;
    margin-bottom: 20px;
  }
  .popup-radio__header {
    font-size: 13px;
  }
  .radio-button__text {
    font-size: 13px   
  }
  .radio-button  {
    height: 22px;
    width: 22px;
  }
  .radio-button::before {
    top: 5px;
    left: 5px; 
    width: 18px;
    height: 18px; 
  }
  .radio-button:checked::after {
    top: 5px;
    left: 5px; 
    width: 18px;
    height: 18px; 
  }
  .popup-textarea {
    margin-bottom: 20px;
  }
  .popup-textarea__header {
    width: 330px;
    font-size: 13px;
    line-height: 22px;
  }
  textarea::placeholder {
    font-size: 13px;
    line-height: 22px;
  }
  .popup-textarea__window {
    width: 330px;
    height: 98px;
    font-size: 13px;
    line-height: 22px;
    padding: 10px 20px;

  }
  .popup-text__btn {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
  }
  .popup-submit__btn {
    margin-bottom: 55px;
    width: 330px;
    height: 45px;
  }
  .popup-submit__btn:hover {
    width: 330px;
    height: 45px;
  }
}


/*Медиа запрос для мобильной версии*/ 
@media (max-width: 640px) {

  /*Стили и размеры для бургер меню*/
  .burger-menu__button {
    position: fixed;
    top: 1.435rem;
    right: 0.7rem;
    z-index: 30;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 50%;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu__button:hover .burger-menu__lines {
    filter: brightness(0.8);
  }
  .burger-menu__lines::before,
  .burger-menu__lines::after,
  .burger-menu__lines {
    position: absolute;
    width: 1.35rem;
    height: 0.1rem;
    background-color: ghostwhite;
    border: 0.2px solid #b59f5b; 
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .burger-menu__lines {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .burger-menu__lines::before {
    content: '';
    top: -0.55rem;
    right: -1px;
  }
  .burger-menu__lines::after {
    content: '';
    top: 0.45rem;
    left: -1px;
  }
  
  /*Размеры фото banner под мобилку*/
  .banner {
    background-image: url(../images/banner-mobile.jpg);
    height: 100vh;
    background-position: center bottom;
  }

  /*Размеры заголовка banner под мобилку*/
  .banner__title {
    width: 91.11vw;
    margin: 36.75vh 0 0 5vw; 
    font-size: 7.22vw;
    line-height: 10vw;
  }

  /*Размеры логотипа banner под мобилку*/
  .banner__logo {
    width: 75vw;
    top: 35vh;
    left: 12vw;  
  } 

  /*Скрытие menu*/
  .banner__menu {
    visibility: hidden;
  }

  /*Размеры trand_line под мобилку*/
  .trands-line {
    margin-bottom: 12vw;
  }
  .trands-line__header {
    font-size: 4.44vw;
    font-weight: 700;
    margin: 9.9vw auto 7vw;
  }
  .trands-line__header:after {
    width: 17.22vw;
    height: 0.8vw;
    opacity: 0.400;
    margin-top: 2.2vw;
  }
  .trand {
    width: 100%;
    height: 64.2vw;
    margin-bottom: 0.68vw;
  }
  .trand__description {
    z-index: 3;
    border: 3px solid #b59f5b;
    width: 91.8%;
    padding: 5.75vw 9vw 6.85vw 5.2vw;
    margin: 4.16vw;
  }
  .trand__categories{
    margin-left: 0.65vw;
  }
  .trand__category {
    font-size: 3.88vw;
    line-height: 10.27vw;
    font-weight: 700;
    margin-right: 5.55vw;
  }
  .trand__title {
    font-size: 4.44vw;
    line-height: 5.55vw;
    font-weight: 700;
  }
  .trand__image {
    object-fit: cover;
    object-position: center bottom;
  }
  
  /*Размеры для новостей main под мобилку*/
  .main-box {
    width: 91%;
    margin: 0 auto;
  }
  .main-post {
    width: 100%;
    margin-bottom: 10vw;
    flex-direction: column;
  }
  .main-post:nth-of-type(n+1):nth-of-type(-n+4) {
    border-bottom: 3px solid #cdcdcd;
  }
  .main-news__picture {
    width: 100%;
    height: 70vw;
    margin-bottom: 1vw;
    background-color: #eff6f1;
  }
  .main-post-frame {
    width: 99%;
  }
  .main-post-frame__category {
    margin-right: 6vw;
    font-size: 3.88vw;
    line-height: 11.11vw;
    font-weight: 700;
  }
  .main-post-frame__title {
    font-size: 4.44vw;
    line-height: 5.55vw;
    font-weight: 700;
    margin-bottom: 1vw;
  }
  .main-post__pubdate {
    font-size: 3.33vw;
    line-height: 11.11vw;
    font-weight: 400;
    margin-top: 1vw;
  }
  .main-post__author {
    font-size: 3.33vw;
    line-height: 11.11vw;
    font-weight: 700;
  }
  .main-post__text {
    width: 100%;
    font-size: 3.88vw;
    line-height: 5.55vw;
    margin-bottom: 6vw;
  }

  /*Размеры для боковой полосы sidebar под мобилку*/
  .side-bar {
    margin: 0 auto;
    width: 100%;
  }
  .latest-posts__header {
    margin-bottom: 8.5vw;
    font-size: 4.44vw;
    line-height: 8.05vw;
    font-weight: 700;
  }
  .latest-posts__header:after {
    opacity: 0.4;
    width: 17.5vw;
    height: 0.83vw;
    margin-top: 1vw;
  }
  .latest-posts {
    padding: 0 4.16vw;
  }
  .latest-post {
    width: 91.6vw;
    margin-bottom: 6.11vw;
  }
  .latest-post__picture {
    width: 19.44vw;
    height: 19.44vw;
    margin-right: 5vw;
  }
  .latest-post__pubdate {
    opacity: 0.541;
    font-size: 3.33vw;
    font-weight: 400;
  }
  .latest-post__link {
    font-size: 3.88vw;
    line-height: 5vw;
    font-weight: 700;
  }
  .latest-post__link:hover {
    font-size: 3.88vw;
    line-height: 5vw;
    font-weight: 700;
  }

  .page-search {
    width: 92vw;
    margin-top: -1.5vw;
  }
  .page-search__row {
    margin-top: 12vw;
    width: 88.5vw;
    height: 13.33vw;
    padding-left: 5vw;
  }
  .page-search__row::placeholder {
    opacity: 0.541;
    font-size: 3.61vw;
    line-height: 11.11vw;
    font-weight: 400;
  }
  .page-search__row:focus {
    width: 88.5vw;
    height: 13.33vw;
  }
  .page-search__submit {
    margin-top: 12vw;
    width: 13.33vw;
    height: 13.33vw;
    right: 0;
    background-size: auto 35%;
  }
  .page-search__submit:hover {
    width: 13.33vw;
    height: 13.33vw;
  }

  .email__row {
    width: 91vw;
    height: 13.33vw;
    padding-left: 5vw;
    margin-bottom: 2vw;
  }
  .email__row::placeholder {
    opacity: 0.541;
    font-size: 3.61vw;
    line-height: 11.11vw;
    font-weight: 400;
  }
  .email__row:focus {
    width: 91vw;
    height: 13.33vw;
  }

  .subscribe-box {
    margin-top: 10.7vw;
  }
  .subscribe__title {
    margin-bottom: 7vw;
    font-size: 4.44vw;
    line-height: 8.05vw;
    font-weight: 700;
  }
  .subscribe__title:after {
    opacity: 0.4;
    width: 17.5vw;
    height: 0.83vw;
    margin-top: 1vw;
  }
  .subscribe__text__button {
    font-size: 3.88vw;
    line-height: 11.11vw;
    font-weight: 700;
  }
  .subscribe__submit {
    margin-top: 2.2vw;
    width: 91vw;
    height: 13.33vw;
  }
  .subscribe__submit:hover {
    width: 91vw;
    height: 13.33vw;
  }

  .tags__title {
    margin: -1vw 0 6vw 0;
    font-size: 4.44vw;
    line-height: 8.05vw;
    font-weight: 700;
  }
  .tags__title:after {
    opacity: 0.4;
    width: 17.5vw;
    height: 0.83vw;
    margin-top: 1vw;
  }
  .tags {
    width: 91vw;
    margin: 11.5vw auto 0 auto;
  }
  .tags__list {
    margin-top: 4vw;
  }
  .tag {
    font-size: 3.33vw;
    font-weight: 700;
  }
  .border {
    display: block;
    margin-right: 1.65vw;
    margin-bottom: 1.66vw;
    padding: 1vw 3.3vw;
    text-align: center;
    background-color: rgba(244,243,241,0);
    border: 1vw solid #eeeeee;
  }
  .border:hover {
    background-color: rgba(244,243,241,0);
    border: 0.18vw solid #b59f5b;
    cursor: pointer;
  }

  .themes {
    width: 91vw;
    margin: 8.1vw auto 0 auto;
  }
  .themes__title {   
    margin-bottom: 3.5vw;
    font-size: 4.44vw;
    line-height: 8.05vw;
    font-weight: 700;
  }
  .themes__title:after {
    opacity: 0.4;
    width: 17.5vw;
    height: 0.83vw;
    margin-top: 1vw;
  }
  .theme {
    font-size: 3.88vw;
    line-height: 13.05vw;
    font-weight: 700;
  }
  .theme:hover {
    font-size: 3.88vw;
    line-height: 13.05vw;
    font-weight: 700;
  }
  .themes__index {
    font-size: 3.33vw;
    line-height: 10vw;
    font-weight: 700;
  }
  .indextheme__hr {
    width: 88.5vw;
    height: 0.13vw;
    margin-top: -0.4vw;
  }
  
  /*Размеры для полосы product под мобилку*/
  .products-line {
    flex-direction: column;
    width: 91vw;
    margin: 11.3vw auto 0 auto;
  }
  .products-line__header {
    margin-bottom: 6vw;
    font-size: 4.44vw;
    line-height: 8.05vw;
    font-weight: 700;
  }
  .products-line__header:after {
    opacity: 0.4;
    width: 17.5vw;
    height: 0.83vw;
    margin: 2.2vw auto 2vw auto;
  }
  .products-box {
    display: flex;
    flex-direction: column;
  }
  .product  {
    margin-bottom: 8.5vw;
  }
  .product-image__box {
    width: 78vw;
    margin-left: auto;
    margin-right: auto;
  }
  .product-image {
    width: 100%;
    height: 100%;
  }
  .product-description {
    border: 3px solid #b59f5b;
    padding: 15% 5% 8% 5%;
    margin-top: -10%;
    margin-right: calc(-8vw + 10%);
    width: 80vw;
  }
  .product-description--modify {
    border: 3px solid #b59f5b;
    padding: 15% 5% 8% 5%;
    margin-top: -11%;
    margin-right: calc(-8vw + 10%);
    width: 81vw;
  }
  .product-description__title {
    font-size: 4.72vw;
    line-height: 6.11vw;
  }
  .product-description__paragraph {
    font-size: 4.16vw; 
    line-height: 6.11vw;
    font-weight: 400;
  }
  .product-description__paragraph:hover {
    opacity: 0.8;
  }
  .product-description__link:hover {
    opacity: 0.9;
  }

  .price-and-magazine__box {
    margin-top: 6.5vw;
  }
  .price__box {
    padding: 0 0 1% 2%;
    width: 45%;
  }
  .price__title__small {
    font-size: 3.88vw;
    line-height: 6.66vw;
    font-weight: 700;
    margin-bottom: -1vw;
  }
  .price__title__big {
    font-size: 5.55vw;
    line-height: 6.66vw;
    font-weight: 700;
  }
  
  .magazine-submit {
    width: 49%;
    height: 12.5vw;
  }
  .magazine-submit:hover {
    width: 49%;
    height: 12.5vw;
  }
  .magazine-submit__title {
    font-size: 3.88vw;
    line-height: 11.11vw;
    font-weight: 700;
  }

  .footer-banner {
    width: 91vw;
    height: 23.05vw;
    background-color: #f4f7f6;
    margin: 9.7vw auto;
  }
  .socials {
    width: 33vw;
  }
  .icon {
    width: 6vw;
    height: 6vw;
  }
  .copyright {
    width: 88.5vw;
    margin: 0 auto 6vw;
    font-size: 3.33vw;
    line-height: 11.11vw;
    font-weight: 700;
  }

/*Размеры popup для мобилки*/
  .back::before {
    z-index: 4;
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
  }
  .popup-body {
    left: 0; 
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 31;
  }
  .popup-content {
    margin: 14.5vw auto;
    width: 330px;
  }
  .popup__close__btn__hidden::after {
    right: 0;
    top: 0;
    margin-top: -30px;
    width: 27px;
    height: 27px;
  }
  .popup-header {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  .popup-title {
    font-size: 16px;
    line-height: 29px;
    font-weight: 700;
  }
  .popup-title:after {
    opacity: 0.4;
    width: 66px;
    height: 3px;
  }
  .popup-select {
    margin-bottom: 20px;
  }
  .popup-select__row::after {
    right: 5px;
    top: 15px;
    width: 15px;
    height: 15px;
  }
  select {  
    padding-right: 25px;
  }
  .popup-select__header {
    font-size: 13px;
    line-height: 40px;
  }
  .popup-select__options {
    padding-left: 20px;
    width: 280px;
    height: 45px;
    font-size: 13px; 
  }
  .popup-select__option {
    font-size: 13px;  
    opacity: 0.541;
  }
  .popup-radio__box {
    margin-left: -60px;
    margin-bottom: 1.25rem;
  }
  .popup-radio__header {
    font-size: 13px;
  }
  .radio-button__text {
    font-size: 13px;  
    margin-right: 60px;
  }
  .radio-button  {
    height: 23px;
    width: 23px;
  }
  .radio-button::before {
    top: 10px;
    left: 5px; 
    width: 17px;
    height: 17px; 
  }
  .radio-button:checked::after {
    top: 10px;
    left: 5px; 
    width: 18px;
    height: 18px; 
  }
  .popup-textarea {
    margin-bottom: 20px;
  }
  .popup-textarea__header {
    width: 280px;
    font-size: 0.8rem;
    line-height: 22px;
  }
  textarea::placeholder {
    font-size: 13px;  
    line-height: 22px;
  }
  .popup-textarea__window {
    width: 280px;
    height: 130px;
    font-size: 14px;
    line-height: 22px;
    padding: 10px 20px;
  }
  .popup-text__btn {
    font-size: 14px;
    line-height: 40px;
    font-weight: 700;
  }
  .popup-submit__btn {
    margin-bottom: 30px;
    width: 280px;
    height: 45px;
  }
  .popup-submit__btn:hover {
    width: 280px;
    height: 45px;
  }
}


/*Медиа запрос для таблет версии в ландшафтной ориентации*/
@media (orientation: landscape) and (min-width: 641px) and (max-width: 1200px) {
  .trand {
    width: 24.8%;
    height: 20vw;
  }
  .trand__description {
    width: 21.5vw;
    padding: 1.65vw 2vw 1.65vw 2vw;
    margin-left: 1.5vw;
    margin-bottom: 1.15vw;
  }
  .trand__category {
    font-weight: 700;
    font-size: 0.84vw;
    line-height: 2.4vw;
    margin-right: 1vw;
  }
  .trand__title {
    font-weight: 700;
    font-size: 1.2vw;
    line-height: 1.45vw;
  }
}


/*Медиа запрос для мобильной версии в ландшафтной ориентации*/
@media (orientation: landscape) and (min-width: 360px) and (max-width: 640px) {
  .banner {
    background-image: url(../images/banner-bg-tablet.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center bottom;
  }
  .banner__title {
    width: 80vw;
    margin-top: 13.5vw;
    font-size: 5.2vw;
    line-height: 7.15vw;;
  }
  .banner__logo {
    width: 76vw;
    top: 17vh;
    left: 11.6vw;
  } 
  .trand  {
    width: 49.8%;
    height: 32.5vw;
    margin-bottom: 0.5vw;
  }
  .trand__description {
    z-index: 3;
    border: 3px solid #b59f5b;
    width: 45vw;
    padding: 4.55vw 4.03vw 4.55vw 4.03vw;
    margin-left: 2.6vw;
    margin-bottom: 1.7vw;
  }
  .trand__category {
    font-size: 1.82vw;
    line-height: 4.81vw;
    font-weight: 700;
    margin-right: 1vw;
  }
  .trand__title {
    font-weight: 700;
    font-size: 2.21vw;
    line-height: 2.86vw;
  }
}


/*ОБЩИЕ СТИЛИ ДЛЯ ВСЕХ МЕДИА ЗАПРОСОВ*/

/*Стили для титульного фото banner и его логотипа*/
.banner {
  overflow: hidden;
  position: relative;
  background-color: #A9A9A9;
  background-size: cover;
}
.banner::after {
  content: "";
  background-color: #000000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.banner__logo { 
  position: relative;
  z-index: 2;
}


/*Стили для заголовка banner сайта*/
.banner__title {
  display: block;
  position: relative;
  z-index: 2;
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-align: center;
}


/*Стили и размеры для меню*/
.banner__menu {
  width: 28vw;
  top: -0.189vw;
  left: 57.22%;
  display: flex;
  list-style-type: none;
  position: relative;
  z-index: 2;
}
.menu__link {
  font-size: 13px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration-line: none;
  font-family: OpenSans-Regular, Arial, sans-serif;
  text-align: center;
}
.menu__element:nth-of-type(n+2) {
  margin-left: 2.1084vw;
}
.menu__element:hover {
  text-decoration-line: underline;
  cursor: pointer;
}


/*Стили для полосы трендов*/
.trands-line {
  display: flex;
  flex-direction: column;
}
.trands-line__header {
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-align: center;
}
.trands-line__header:after {
  content: '';
  background-color: #b59f5b;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.trands-line__box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.trand {
  display: flex;
  align-items: flex-end;
  position: relative;
} 
.trand__description {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: absolute;
}
.trand__categories {
  display: flex;
  list-style-type: none;
}
.trand__category {
  text-transform: uppercase;
  color: #b59f5b;
  font-family: OpenSans-Regular, Arial, sans-serif
}
.trand__category:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.trand__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
  display: block;
}
.trand__title:hover {
  color: #b59f5b;
  cursor: pointer;
}
.trand__image__box {
  width: 100%;
  height: 100%;
}
.trand__image__box::after {
  content: "";
  background-color: #000000;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.6;
}
.trand__image {
  width: 100%;
  height: 100%;
}

/*Стили для полосы новостей main*/
.main-post {
  display: flex;
}
.main-news__picture {
  background-size: cover;
  background-color: #eff6f1;
}
.main-post-frame__categories {
  display: flex;
  list-style-type: none;
}
.main-post-frame__category {
  text-transform: uppercase;
  color: #b59f5b;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.main-post-frame__category:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.main-post-frame__title {
  display: block;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.main-post-frame__title:hover {
  color: #b59f5b;
  cursor: pointer;
}
.main-post__pubdate {
  color: #888888;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.main-post__author {
  color: #000000;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.main-post__text {
  color: #0f0d0e;
  font-family: OpenSans-Regular, Arial, sans-serif;
}


/*Стили для боковой полосы Sidebar*/
.latest-posts__header {
  text-align: center;
  color: #0f0d0e;
  text-transform: uppercase;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.latest-posts__header:after {
  content: '';
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.latest-post {
  display: flex;
}
.latest-post__picture {
  background-color: #f4f7f6;
}
.latest-post__text-box {
  display: flex;
  flex-direction: column;
}
.latest-post__pubdate {
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.latest-post__link {
  text-transform: uppercase;
  color: #000000;
  font-family: OpenSans-Bold, Arial, sans-serif;
  text-decoration-line: none;
  color: #000000;
  display: block;
}
.latest-post__link:hover {
  text-transform: uppercase;
  color: #b59f5b;
  font-family: OpenSans-Bold, Arial, sans-serif;
  cursor: pointer;
}

.page-search {
  display: flex;
  position: relative;
}
.page-search__row {
  border: none;
  background-color: #f4f7f6;
}
.page-search__row::placeholder {
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.page-search__row:focus {
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
}
.page-search__submit {
  border: none;
  position: absolute;
  background-color: #b59f5b;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../svg/search.svg)
}
.page-search__submit:hover {
  background-color: #323232;
  cursor: pointer;
}

/*Скрытие*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.email__row {
  box-sizing: border-box;
  background-color: #f4f7f6;
  border: none;
}
.email__row::placeholder {
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.email__row:focus {
  background-color: #f4f7f6;
  outline: 1px solid #b59f5b;
}

.subscribe__title {
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.subscribe__title:after {
  content: '';
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.subscribe__text__button {
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.subscribe__submit {
  background-color: #b59f5b;
  border: none;
}
.subscribe__submit:hover {
  background-color: #323232;
  cursor: pointer;
}

.tags__title {
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.tags__title:after {
  content: '';
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.tags__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.tag {
  text-decoration-line: none;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}

.themes__title {
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.themes__title:after {
  content: '';
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;;
  display: block;
}
.themes__list {
  display: block;
  list-style-type: none;
}
.theme {
  text-decoration-line: none;
  color: #000000;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.theme:hover {
  color: #b59f5b;
  font-family: OpenSans-Bold, Arial, sans-serif;
  cursor: pointer;
}
.themes__index {
  color: #b59f5b;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.indextheme__hr {
  background-color: #ededed;
  border: none;
}


/*Стили для полосы product*/
.products-line {
  display: flex;
  flex-direction: column; 
  flex-wrap: wrap;
}
.products-line__header {
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.products-line__header:after {
  content: '';
  background-color: #b59f5b; 
  display: block;
}
.product  {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.product-image__box {
  margin-right: auto;
  margin-left: auto;
}
.product-description__title {
  text-transform: uppercase;
  color: #000000;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.product-description__title:hover {
  color: #b59f5b;
  cursor: pointer;
}
.product-description__paragraph {
  color: #0f0d0e;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.product-description__link {
  color: #b59f5b; 
}
.product-description__link:hover {
  color: #b59f5b;
  cursor: pointer;
  text-decoration-line: none;
}
.price-and-magazine__box {
  display: flex;
}
.price__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.price__title__small {
  text-decoration: line-through;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.price__title__big {
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.magazine-submit {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  background-color: #b59f5b;
  border: none;
}
.magazine-submit:hover {
  background-color: #323232;
  cursor: pointer;
}
.magazine-submit__title {
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
}


/*Стили для баннера в footer*/
.footer-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f4f7f6;
}
.socials {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.copyright {
  display: block;
  color: #999999;
  font-family: OpenSans-Bold, Arial, sans-serif;
  cursor: pointer;
  text-decoration-line: none;
  text-align: center;
}


/* Группа стилей для Popup*/
.back::before {
  content: " ";
  position: fixed;
  background-color: black;
}
.popup-body {
  position: fixed;
}
.popup-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}
.popup__close__btn__hidden {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup__close__btn__hidden::after {
  content: '';
  position: absolute;
  background-image: url(../svg/form-x.svg);
  cursor: pointer;
}
.popup-title {
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.popup-title:after {
  content: '';
  background-color: #b59f5b;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.popup-select {
  display: flex;
  flex-direction: column;
}
.popup-select__row {
  position: relative;
  display: inline-block;
}
.popup-select__row::after {
  content: '';
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat; 
  background-size: contain;
  position: absolute;
  text-align: center;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.popup-select__header {
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.popup-select__options {
  background-color: whitesmoke;
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: grey;
  border: none;
}
.popup-select__options:focus {
  outline: 1px solid #b59f5b;
}
.popup-select__option {
  font-family: OpenSans-Regular, Arial, sans-serif;
  color: grey;
}
.popup-radio__box {
  display: flex;
  flex-direction: column;
}
.popup-radio__header {
  display: block;
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.radio-button__text {
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
.radio-button  {
  position: relative;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.radio-button::before {
  position: absolute;
  content: " ";
  background-image: url(../svg/form-empty-circle.svg);
  background-size: cover;
  background-repeat: no-repeat;
}
.radio-button:checked::after {
  content: '';
  background-image: url(../svg/form-circle.svg);
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
}
.popup-textarea {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.popup-textarea__header {
  display: block;
  box-sizing: border-box;
  color: #000000;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
textarea::placeholder {
  color: grey;
  font-family: OpenSans-Regular, Arial, sans-serif;
}
textarea:focus {
  outline: 1px solid #b59f5b;
}
.popup-textarea__window {
  resize: none;
  background-color: whitesmoke;
  color: #0f0d0e;
  font-family: OpenSans-Regular, Arial, sans-serif;
  border: none;
  box-sizing: border-box;
}
.popup-text__btn {
  text-transform: uppercase;
  color: #ffffff;
  font-family: OpenSans-Bold, Arial, sans-serif;
}
.popup-submit__btn {
  background-color: #b59f5b;
  border: none;
}
.popup-submit__btn:hover {
  background-color: #323232;
  cursor: pointer;
}
